body{
    background-color: bisque;
}

header{
    border: 4px solid green;
}

#waow{
    text-shadow: 3px 3px 5px rgb(218, 33, 33);
    color: yellowgreen;
}

footer{
    border: 4px solid green;
    margin-top:30px;
}

h1{
    text-align: center;
}
